.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M311.78 288.76a16.5 16.5 0 1 0 9.41-31.63z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M724.64 12.79 a50.33 50.33 0 1 0 100.66 0 a50.33 50.33 0 1 0 -100.66 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M463.18 59.86L492.36 59.86L492.36 89.04L463.18 89.04z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1256.91 11.74L1306.69 11.74L1306.69 57.54L1256.91 57.54z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M285.87 300.21L316.58 300.21L316.58 330.92L285.87 330.92z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1343.33 286.41a20.47 20.47 0 1 0 38.32-14.42z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M760.36 533.09L802.48 533.09L802.48 575.21L760.36 575.21z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M103.35 464.96L104.91 464.96L104.91 466.52L103.35 466.52z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1052.46 279.33 a29.09 29.09 0 1 0 58.18 0 a29.09 29.09 0 1 0 -58.18 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1313.6 12.52L1359.91 12.52L1359.91 58.83L1313.6 58.83z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M890.57 402.22a28.79 28.79 0 1 0 49.02-30.22z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M857.16 187.81L900.46 187.81L900.46 218.21L857.16 218.21z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M475.72 398.34L486.28 398.34L486.28 408.9L475.72 408.9z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M899.36 31.33 a9.43 9.43 0 1 0 18.86 0 a9.43 9.43 0 1 0 -18.86 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1215.65 257.4a27.48 27.48 0 1 0 18.54 51.74z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1121.33 145.85 a44.84 44.84 0 1 0 89.68 0 a44.84 44.84 0 1 0 -89.68 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M706.46 417.75L735.34 417.75L735.34 446.63L706.46 446.63z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M111.03 357.7L134.41 357.7L134.41 381.08L111.03 381.08z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M988.38 537.26L1041.98 537.26L1041.98 590.86L988.38 590.86z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M996.13 269.73 a27.29 27.29 0 1 0 54.58 0 a27.29 27.29 0 1 0 -54.58 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M908.09 429.06 a28.9 28.9 0 1 0 57.8 0 a28.9 28.9 0 1 0 -57.8 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M16.73 79.29 a30.72 30.72 0 1 0 61.44 0 a30.72 30.72 0 1 0 -61.44 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M925.1 295.82L959.56 295.82L959.56 330.28L925.1 330.28z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M473.99 98.44 a22.76 22.76 0 1 0 45.52 0 a22.76 22.76 0 1 0 -45.52 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M280.23 394.56L291.27 394.56L291.27 445.35L280.23 445.35z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1211.16 474.38 a49.67 49.67 0 1 0 99.34 0 a49.67 49.67 0 1 0 -99.34 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M500.39 517.46L511.44 517.46L511.44 551.46L500.39 551.46z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M592.42 333.86 a12.13 12.13 0 1 0 24.26 0 a12.13 12.13 0 1 0 -24.26 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M730.46 64.96 a18.53 18.53 0 1 0 37.06 0 a18.53 18.53 0 1 0 -37.06 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M214.38 228.18 a28.51 28.51 0 1 0 57.02 0 a28.51 28.51 0 1 0 -57.02 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M465.01 255.79 a37.76 37.76 0 1 0 75.52 0 a37.76 37.76 0 1 0 -75.52 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1257.06 250.66a55.41 55.41 0 1 0-86.37-69.43z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M810.68 353.18L856.85 353.18L856.85 378.44L810.68 378.44z' fill='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;

    .heading{
      text-align: center;
      color: #666666;
    }

    .login-box{
      padding: 28px 40px;
      min-width: 380px;
      background: white;
      border-radius: 10px;
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 -1px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

    label, input{
      display: block;
      width: 100%;
      margin-block: 6px;
      color: #666666;
    }

    input{
      padding: 8px 16px;
      border-radius: 4px;
      border: 1px solid #666666;
    }

    .auth_button{
      color: #e9f4fb;
    }
      
    .signup_link{
      margin: 12px 0;
      text-align: center;
      font-size: 15px;
      color: #666666;
    }

    .signup_link a{
      color: #2691d9;
      text-decoration: none;
    }

    .signup_link a:hover{
      text-decoration: underline;
    }
}