.Follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .user-info{
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
    }

    .name{
        font-size: 0.8rem;
    }
}